<div bsModal #editModal="bs-modal" (onShown)="setFocus()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content" [busyIf]="loading">
            <form *ngIf="active" #payElementEditForm="ngForm" novalidate (submit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="payelement.id">{{l("EditPayElement")}}: {{payelement.name}}</span>
                        <span *ngIf="!payelement.id">{{l("CreateNewPayElement")}}</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #codeInput type="text" name="payItemCode" [disabled]="payelement.id" class="form-control input-ltr" [ngClass]="{'edited':payelement.payItemCode}" [(ngModel)]="payelement.payItemCode" required maxlength="6">
                        <label>{{l("PayItemCode")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput type="text" name="Name" class="form-control input-ltr" [ngClass]="{'edited':payelement.name}" [(ngModel)]="payelement.name" required maxlength="128">
                        <label>{{l("Name")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #shortNameInput type="text" name="ShortName" class="form-control input-ltr" [ngClass]="{'edited':payelement.shortName}" [(ngModel)]="payelement.shortName" required maxlength="10">
                        <label>{{l("ShortName")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select #usageComboBox name="usageComboBox" class="form-control edited" [ngClass]="{'edited':payelement.usage}" [(ngModel)]="payelement.usage">
                            <option *ngFor="let usage of usageList" [value]="usage.value">{{usage.displayText}}</option>
                        </select>
                        <label>{{l("Usage")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select #payItemGroupComboBox name="payItemGroupComboBox" class="form-control edited" [ngClass]="{'edited':payelement.payItemGroupId}" [(ngModel)]="payelement.payItemGroupId" (change)="filterGLA(payItemGroupComboBox.value)" [disabled]="payelement.id">
                            <option *ngFor="let itemGroup of itemGroupList" [value]="itemGroup.value">{{itemGroup.displayText}}</option>
                        </select>
                        <label>{{l("ItemGroup")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select #reportCodeComboBox name="reportCodeComboBox" class="form-control edited" [ngClass]="{'edited':payelement.reportCodeId}" [(ngModel)]="payelement.reportCodeId">
                            <option *ngFor="let reportCodes of reportCodesList" [value]="reportCodes.value">{{reportCodes.displayText}}</option>
                        </select>
                        <label>{{l("ReportCodes")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select #behaviourComboBox name="behaviourComboBox" class="form-control edited" [ngClass]="{'edited':payelement.behaviour}" [(ngModel)]="payelement.behaviour">
                            <option *ngFor="let behaviour of behaviourList" [value]="behaviour.value">{{behaviour.displayText}}</option>
                        </select>
                        <label>{{l("Behaviour")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select #glAccountComboBox name="glAccountComboBox" class="form-control edited" [ngClass]="{'edited':payelement.glAccountId}" [(ngModel)]="payelement.glAccountId">
                            <option *ngFor="let glAccount of glAccountList" [value]="glAccount.value">{{glAccount.displayText}}</option>
                        </select>
                        <label>{{l("GLAccount")}}</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary blue" [disabled]="!payElementEditForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
