<div bsModal #editModal="bs-modal" (onShown)="setFocus()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content" [busyIf]="loading">
            <form *ngIf="active" #mainEditForm="ngForm" [formGroup]="editForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="customer.id">{{l("EditCustomer")}}: {{customer.name}}</span>
                        <span *ngIf="!customer.id">{{l("CreateNewCustomer")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="form-group form-md-line-input">
                        <input #codeInput type="text" formControlName="customerNumber" class="form-control input-ltr">
                        <label>{{l("CustomerNumber")}}</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput type="text" formControlName="name" class="form-control input-ltr">
                        <label>{{l("Name")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" formControlName="contact" class="form-control input-ltr">
                        <label>{{l("Contact")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" formControlName="emailAddress" class="form-control input-ltr">
                        <label>{{l("EmailAddress")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" formControlName="telephoneNumber" class="form-control input-ltr">
                        <label>{{l("TelephoneNumber")}}</label>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="execContact" class="form-control input-ltr">
                            <label>{{l("ExecContact")}}</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="execEmailAddress" class="form-control input-ltr">
                            <label>{{l("ExecEmailAddress")}}</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="execPhoneNumber" class="form-control input-ltr">
                            <label>   {{l("ExecPhoneNumber")}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="financeContact" class="form-control input-ltr">
                            <label>{{l("FinanceContact")}}</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="financeEmailAddress" class="form-control input-ltr">
                            <label>{{l("FinanceEmailAddress")}}</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint col-xs-4">
                            <input type="text" formControlName="financePhoneNumber" class="form-control input-ltr">
                            <label>   {{l("FinancePhoneNumber")}}</label>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select formControlName="businessSectorComboBox" class="form-control edited">
                            <option *ngFor="let businessSectorComboBoxItem of businessSectorComboBoxItems" [value]="businessSectorComboBoxItem.value">{{businessSectorComboBoxItem.displayText}}</option>
                        </select>
                        <label>{{l("BusinessSector")}}</label>
                    </div>
                    
                    <div *ngIf="editForm.controls.address" [busyIf]="loading">
                        <edit-address [address]="editForm.controls.address"></edit-address>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary blue" [disabled]="!mainEditForm.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
